@tailwind base;
@tailwind components;
@tailwind utilities;


/* Añade este CSS personalizado a tu archivo global de estilos */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }